.commentForm {
    width: 100%;
    border-radius: 4px;
    background-color: #eee;
}

.commentForm > form {
    width: 100%;
}

.input {
    width: 100%;
    outline: none;
    border: none;
    background: transparent;
    border: #fff 1px solid;
    padding: 8px;
    border-radius: 4px;
}

.input:focus {
    border: #81c0c6 1px solid;
}
